# Patch that re-adds the debug page into the pause menu
# gml_Object_ob_pauseMenu_Create_0:
#   - type: findreplace
#
#     find: |-
#         ds_list_clear(debugPage)
#     code: |-
#         ds_list_add(mainPage, new menuButton("DEBUG", changePage, debugPage))

# actionRestartStage patch
# Makes the restart stage button work with custom levels
gml_Object_ob_pauseMenu_Create_0:
  - type: findprepend

    find: |-
        global.stage_manager.startStage(global.stage_manager.currentStage, global.stage_manager.mode)
    code: |-
        if RoomLoader.playingCustomLevel
            RoomLoader.RestartCustomLevel()
        else