# gotoTargetRoom patch
# Check if the room trying to warp to is a string and then assume it's a custom room if it is
gml_Object_ob_warp_Create_0:
  - type: findreplace
    
    find: |-
        room_goto(targetRoom)
    code: |-
        if is_string(targetRoom)
            RoomLoader.GoToRoom(RoomLoader.levelName, targetRoom)
        else
            room_goto(targetRoom)

# endStage patch
# Exiting a custom stage will exit to the main menu rather than try to go to the hub
gml_Object_ob_stageManager_Create_0:
  - type: findprepend
    
    find: |-
        var _hubToPortal = currentStage != undefined && arg0 == undefined
    code: |-
        if RoomLoader.playingCustomLevel
        {
            arg0 = rm_logoDrop
            RoomLoader.playingCustomLevel = false
        }